.progress-bar-container{
    width: 90%;
    height: 20px;
    background: gray;
    position: relative;
    border-radius: 90px;
    margin: 0 5%;
}

.progress-bar-line{
    background: black;
    position: absolute;
    text-align: right;  
    border-radius: 90px;
    height: 100%;
}
.progress-bar-circle{
    position: absolute;
    top: -1.8rem;
    left: 95%;
    width: fit-content;
    background: black;
    color: white;
    padding: 1.5rem;
    border-radius: 90px;
}