.home-info-wrap {
  margin-top: 15vh;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  border-top: 1px solid rgb(28, 32, 34);
}

.home-info-flex {
  display: flex;
  flex-direction: row;
}

.home-info-left {
  width: 24%;
  height: fit-content;
  margin-right: 8vh;
  margin-left: 12vh;
}

.home-info-left-header {
  padding-bottom: 3vh;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}

.home-info-left-text {
  font-weight: 10;
  font-size: 14px;
}

.home-info-right {
  width: 45%;
  height: 100px;
  display: flex;
  justify-content: center;
}
