.brief-wrap {
  margin-left: 15%;
  margin-right: 15%;
}

.brief-flex {
  display: flex;
  flex-direction: row;
}

.brief-left {
  margin-right: 10%;
  width: 50%;
}

.brief-left-text {
  line-height: 1.6;
  padding-bottom: 1vh;
}

.brief-link {
  cursor: pointer;
}

.brief-right {
  width: 50%;
}

.brief-code {
  padding: 0px 6px;
  font-weight: 600;
  background-color: rgb(219, 229, 230);
  width: fit-content;
}
