.faqs-block-wrap {
  width: 100%;
  margin-bottom: 2vh;

  text-align: left;
}

.faqs-block {
  margin-left: 25%;
  background: white;
  width: 50%;
  border: 1px solid rgb(219, 229, 230);
  border-radius: 15px 15px 0px 0px;
  padding: 2vh;

  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.faqs-block-text {
  font-weight: 500;
  font-size: 24px;
  width: 95%;
}

.faqs-answer {
  margin-left: 25%;
  width: 50%;
  padding: 2vh;
  background: white;
  color: rgb(115, 115, 115);

  border: 1px solid rgb(219, 229, 230);
  border-radius: 0px 0px 15px 15px;
}
