.logo {
  width: 40px;
  padding: 1px;
  margin-left: 8vh;
  display: inline;
  float: left;
  margin-top: 10px;
  
}

.logo-name {
  color: black;
  position: absolute;
  font-size: 20px;
  font-style: italic;
  
}

.logo_icon {
  width: 25px;
  animation-duration: 3s;
  animation-name: colorChange;

}

@keyframes colorChange {
  from {
    color: rgb(60, 238, 107);
  }
  to {
    color: black;
  }
}

@media (max-width: 930px) {
  .logo-name {
      font-size: 2.5vmin;
  }
} 
