.about-page-container{
    padding:  5% 20% 0% 20%;
}

.about-page-square{
    width: 60vw;
    height: 70vh;
    background: white;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}