.sections-wrap {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  flex-direction: raw;
  padding: 1vh;

  /* padding-left: 15%; */
  align-items: center;
  justify-content: center;
}

@media (max-width:1520px){
  .sections-wrap {
    justify-content: space-evenly;
  }
}